<div class="content">
    <div class="message message-me bg-success text-white p-1 rounded-pill d-inline-block float-end">
      <p class="m-1"><%= message.content %></p>
    </div>
    <br/>
    <br/>
    <p class="mt-1 blockquote-footer float-end">Sent by me</p>
    <br/>
    <br/>

</div>