<div class="content">
    <div class="message message-other bg-secondary text-white p-1 rounded-pill d-inline-block">
        <p class="m-1"><%= message.content %></p>
    </div>
    <p class="mt-1 blockquote-footer">Sent by <%= message.user.email %></p>
</div>